* {
    margin: 0;
    padding: 0;
}

.pad {
    padding-left: 150px;
    padding-right: 150px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

img {
    max-width: 100%;
}

.p-text {
    color: #534C64;
    font-weight: 400;
    font-size: 1rem;
    padding: 5px 0;
}

/* header styles start */

/* nav section */

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.nav-icon {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-icon img {
    max-width: 100%;
}

.nav-icon h1 {

    font-size: 2rem;
    font-weight: 700;
}


.nav-icon .gamer {
    color: #FF42A5;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu {
    display: flex;
    gap: 15px;
}

.nav-menu a {
    font-size: 1.2rem;
    color: #3C354F;
    font-weight: 500;
    text-decoration: none;
}

.follow {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}

.follow p {
    font-size: 1.2rem;
    color: #3C354F;
    font-weight: 500;
}

/* banenr section styles */
.banner {
     background-color: #f8f4f6; 
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    gap:80px;
    align-items: center;
}



.banenr-content h2 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
}

.banenr-content h1 {
    color: #b82c80;
    font-size: 3.9rem;
    padding: 5px 0;
}

.banenr-content p {
    color: #534C64;
    font-weight: 500;
    font-size: .8rem;
    padding: 3px 0;

}

.btn {
    margin-top: 20px;
    border: none;
    padding: 12px 25px;
    background-color: #b82c80;
    color: white;
    border-radius: 30px;
}

.btn-2 {
    border: none;
    padding: 12px 25px;
    background-color: #4EC5F7;
    color: white;
    border-radius: 30px;
    margin-left: 10px;
}

/*  section part styles*/
section {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.sec-content h2 {
    color: #0B0223;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 10px 0;
}

.sec-content span {
    color: #FF42A5;
}



.sec-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: left;
    margin-top: 1.5rem;
}

.sec-card img {
    border-radius: 10px;
}

.card {
    position: relative;
}

.watch {
    background-color: rgba(12, 12, 12, .8);
    color: #FF42A5;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    border-radius: 10px;

}

.watch-content h5 {
    margin-top: 7px;

}

.card:hover .watch {
    visibility: visible;
    opacity: 1;
}

/* main section style  start*/
main {
    margin-bottom: 80px;
}

/* play games section style */
.playgamesection {
    margin: 40px 0;
    display: flex;
    gap: 190px;
    align-items: center;
}

.games-image {
    position: relative;

}

.games-side-img {
    width: 13rem;
    position: absolute;
    bottom: -80px;
    right: -70px;

}

.games-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
}

.games-content span {
    color: #FF42A5;
}

/* image-buttoon setion style */

.image-button {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 10px;
}

.img-card {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: auto;
    padding: 10px;
    border: 1px solid white;

}

.img-card:hover {
    border: 1px solid #FF42A5;
    padding: 10px;
    color: #da5499;
    border-radius: 30px;

}

.img-card h6 {
    font-size: .7rem;
}

/* footer section */
footer {
    background-color: #0B0223;
    padding: 60px 300px;
    color: white;
    text-align: center;

}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-icon span {
    color: #FF42A5;
}

.footer-text {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;
    padding: 0 40px;
}

.footer-text h6 {
    font-size: 1rem;
    font-weight: 600;
}

.footer-media {
    margin-top: 30px;

}

.footer-media a {
    padding: 0 20px;
    
}
.footer-media img{
    width: 1.8rem;
}

.footer-policy {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 100px;
}

.footer-policy p {
    color: rgba(255, 255, 255, 0.60);
    font-size: .8rem;
    font-weight: 500;

}

.footer-last {
    color: rgba(255, 255, 255, 0.60);
    font-size: .7rem;
    font-weight: 500;
    margin-top: 10px;
}





/* responsive styles */
/* mobile responsive */
@media screen and (max-width:576px) {
    .pad {
        padding-left: 20px;
        padding-right: 20px;

    }

    nav {
        flex-direction: column;

    }

    .nav-icon {
        justify-content: center;
        margin-bottom: 15px;
    }

    .nav-menu {
        flex-direction: column;
        gap: 15px;
    }

    .menu {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .sec-card {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 60px;
        padding-right: 60px;
    }

    .sec-content h2 {
        font-size: 1.5rem;

    }

    .p-text {
        font-size: .7rem;
    }

    .playgamesection {
        margin: 40px 0;
        flex-direction: column-reverse;
        gap: 20px;
        padding-left: 50px;
        padding-right: 50px;

    }

    .games-side-img {
        width: 11rem;
        right: -20px;
    }

    .image-button {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .img-card h6 {
        font-size: .5rem;
    }
    footer{
        padding: 20px ;
        text-align: center;
    }
    .footer-text {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px 0px;
        margin-top: 20px;
        padding: 0 40px;
       
    }
    .footer-text h6{
        font-size: .9rem;
    }
    .footer-media{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0 70px;
        gap: 15px 0;
    }
    .footer-media img{
    width: 1.3rem;
    }
    .footer-policy{
      gap: 10px;
        grid-template-columns: repeat(2,1fr);
        padding: 0 40px;
    }
}

/* tablet responsive */
@media screen and (min-width:576px) and (max-width: 960px) {
    .pad {
        padding-left: 60px;
        padding-right: 60px;
    }

    nav {
        flex-direction: column;

    }

    .nav-icon {
        justify-content: center;
        margin-bottom: 15px;
    }

    .nav-menu {
        flex-direction: column;
        gap: 15px;
    }

    .banner {
        gap: 30px;
    }

    .banenr-content h2 {
        font-size: 1.2rem;
    }

    .banenr-content h1 {
        font-size: 2.5rem;
    }

    .banenr-content p {
        font-size: .7rem;

    }

    .button {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
    }

    .sec-card {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 50px;
        padding-right: 50px;
    }

    .playgamesection {
        gap: 70px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .games-content h1 {
        font-size: 1.6rem;
        line-height: 35px;
    }

    .games-content p {
        font-size: .7rem;
    }

    .games-side-img {
        width: 9rem;
        right: -40px;
    }

    .image-button {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    
    footer{
        padding: 50px ;
        text-align: center;
    }
    .footer-text {
   
        margin-top: 20px;
        padding: 0 40px;
       
    }
    .footer-text h6{
        font-size: .9rem;
    }
    .footer-media{
      
        padding: 0 70px;
        gap: 15px 0;
    }
    .footer-media img{
    width: 1.3rem;
    }
    .footer-policy{
      gap: 10px;
       
        padding: 0 40px;
    }
}